<!-- this use interpolation -->
<div class="container">
  <!-- this title use proprty binding -->
  <!-- <h1 [textContent]="title"></h1> -->

  <app-panel>
    <div class="headingpanel">Angular from Zero to Hero!</div>
    <div class="bodypanel">
      Best course to lern Angular in the World!<br />
      <like-button
        >[likeCounter]="likes.likeCounter" [isLiked]="likes.isLiked"
      </like-button>
    </div>
  </app-panel>
  <br />
  <div class="card" style="width: 18rem">
    <div class="card-body text-muted">
      checking if there are courses in the list(using ngIf)....
    </div>
    <div *ngIf="courses.length > 0; then courselist; else nocourse"></div>
    <ng-template #courselist>
      <label class="card-body">Great! We have courses!</label>
      <ul class="list-group list-group-flush">
        <li class="list-group-item active">{{ title }}</li>
        <li class="list-group-item" *ngFor="let course of courses">
          {{ course }}
        </li>
      </ul>
    </ng-template>
    <ng-template #nocourse>
      <label class="card-body">No Courses yet!</label></ng-template
    >
  </div>
  <br />
  <div class="card">
    <div class="card-body text-muted">
      There is two views, Map and List.(using *ngSwitchCase)
    </div>
    <ul class="nav nav-pills card-body">
      <li class="nav-item">
        <a
          class="nav-link"
          [class.active]="viewMode == 'map'"
          (click)="viewMode = 'map'"
          >Map View</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [class.active]="viewMode == 'list'"
          (click)="viewMode = 'list'"
          >List View</a
        >
      </li>
    </ul>
    <div class="card-body" [ngSwitch]="viewMode">
      <div *ngSwitchCase="'map'">Map View Content</div>
      <div *ngSwitchCase="'list'">List View Content</div>
      <div *ngSwitchDefault>Choose best view for you</div>
    </div>
  </div>
  <br />
  <div class="card">
    <favorite
      [is-favorite]="post.isFavoriteFromCourses"
      (change)="onFavoriteChanged()"
    ></favorite>
    <div class="card-body text-muted">
      This star suppose to be unfilled by default, but @Input was used to change
      it.
    </div>
    <div class="card-body text-muted">
      When you click on star, it will changed to unfilled and will infom you in
      concole.@Output() was used.
    </div>
  </div>
  <br />
  <div class="card" style="width: 18rem">
    <ul class="list-group list-group-flush">
      <li class="list-group-item active">Examples for bulit in pipes</li>
      <li class="list-group-item">{{ course.title | uppercase }}</li>
      <li class="list-group-item">{{ course.students | number }}</li>
      <li class="list-group-item">{{ course.rating | number : "1.2-2" }}</li>
      <li class="list-group-item">
        {{ course.price | currency : "USD" : "symbol" : "3.1-1" }}
      </li>
      <li class="list-group-item">
        {{ course.releaseDate | date : "medium" }}
      </li>
    </ul>
  </div>
  <br />
  <div class="card">
    <div>
      <br />
      <div class="card-body text-muted">
        Example for using ngModel. Change email then press eneter. See consol
        and will notice the change.
      </div>
      <div class="card-body">
        <input type="text" [(ngModel)]="email" (keyup.enter)="onKeyUp()" />
      </div>
    </div>
    <br />
    <div>
      <div class="card-body text-muted">
        Example for using ngModel and custom pipes. Enter any text here and will
        notice that the first letter will be cpitilaze except
        prepositions(and,of).
      </div>
      <div class="card-body">
        <input type="text" [(ngModel)]="capital" />
      </div>
      {{ capital | titleCase }}
      <br />
    </div>
  </div>
  <br />
  <div class="card">
    <div class="card-body text-muted">
      Press the button. Then, see consol and will notice the message.
    </div>

    <div class="card-body">
      <button class="btn btn-primary" (click)="onSave($event)">Save</button>
    </div>
  </div>

  <footer>
    <div class="text-center p-4">© Musaab Al Jahdhami</div>
    <!-- Copyright -->
  </footer>
</div>
