<!-- this use interpolation -->
<div class="container">
  <h1>{{ title }}:</h1>
  <!-- this title use proprty binding -->
  <!-- <h1 [textContent]="title"></h1> -->
  <ul class="list-group list-group-flush">
    <li class="list-group-item" *ngFor="let course of courses">{{ course }}</li>
  </ul>
  <favorite [isFavorite]="post.isFavoriteFromCourses"></favorite>
  <ul class="list-group">
    <li class="list-group-item active">Examples for bulit in pipes</li>
    <li class="list-group-item">{{ course.title | uppercase }}</li>
    <li class="list-group-item">{{ course.students | number }}</li>
    <li class="list-group-item">{{ course.rating | number : "1.2-2" }}</li>
    <li class="list-group-item">
      {{ course.price | currency : "USD" : "symbol" : "3.1-1" }}
    </li>
    <li class="list-group-item">{{ course.releaseDate | date : "medium" }}</li>
  </ul>
  <div>
    <br />
    <p>
      Example for using ngModel. Change email then press eneter. See consol and
      will notice the change.
    </p>
    <input type="text" [(ngModel)]="email" (keyup.enter)="onKeyUp()" />
  </div>
  <br />
  <div>
    <p>
      Example for using ngModel and custom pipes. Enter any text here and will
      notice that the first letter will be cpitilaze except
      prepositions(and,of).
    </p>
    <input type="text" [(ngModel)]="capital" />
    <br />
    {{ capital | titleCase }}
  </div>
  <br />
  <div>
    <p>Press the button. Then, see consol and will notice the message.</p>
    <button class="btn btn-primary" (click)="onSave($event)">Save</button>
  </div>
</div>
